<app-navbar></app-navbar>
<app-content>

  <div class="row">
    <div class="sixteen centered wide column">
      <div class="ui fluid card">
        <div class="content">
          <div class="description">
            <div class="ui horizontal divider">
              Produtividade
            </div>
            <div class="ui cards">
              <a class="card hand-cursor" routerLink="/relatoriocomissaoatendente">
                <div class="content">
                  <div class="header">
                    <i class="user red md icon"></i>
                    Relatório de Produtividade Cuidadores
                  </div>
                  <div class="description">
                    Relatório de produtividade de Cuidadores
                  </div>
                </div>
                <a class="ui red bottom attached button">
                  <i class="hand pointer icon"></i>
                  Acessar
                </a>
              </a>

              <a class="card hand-cursor" routerLink="/produtividadeSomada">
                <div class="content">
                  <div class="header">
                    <i class="font red large icon"></i>
                    Relatório de Produtividade Compilada
                  </div>
                  <div class="description">
                    Relatório de dados compilados do relatório de produtividade de Cuidadores e
                    Idosos
                  </div>
                </div>
                <a class="ui red bottom attached button">
                  <i class="hand pointer icon"></i>
                  Acessar
                </a>
              </a>

            </div>

            <div class="ui horizontal divider">
              Operacional
            </div>

            <div class="ui cards">
              <a class="card hand-cursor" routerLink="/relatoriowhatsapp">
                <div class="content">
                  <div class="header">
                    <i class="address red card icon"></i>
                    Relatório de Idoso
                  </div>
                  <div class="description">
                    Relatório de exportação de dados de atendimento para o responsável ou afins
                  </div>
                </div>
                <a class="ui red bottom attached button">
                  <i class="hand pointer icon"></i>
                  Acessar
                </a>
              </a>

            </div>




          </div>
        </div>
      </div>
    </div>
  </div>
</app-content>