<app-navbar></app-navbar>

<app-content>

  <div class="row">
    <div class="sixteen wide column">

      <app-action-menu [titulo]="'Prontuários'" [descricao]="'Lista de prontuários cadastradas no sistema'">

        <div class="item">
          <a class="ui primary circular icon button" data-tooltip="Mais opções de filtro" data-position="bottom right"
            data-inverted="">
            <i class="search icon"></i>
          </a>
        </div>
        <div class="item">
          <a class="ui primary circular icon button" data-tooltip="Novo Prontuário" data-position="bottom right"
            data-inverted="">
            <i class="plus icon"></i>
          </a>
        </div>
      </app-action-menu>
    </div>
  </div>

  <div class="row">
    <div class="sixteen wide column">

      <div class="ui fluid card">
        <div class="content">
          <div class="description">

            <div class="row">

              <table class="ui selectable striped celled compact table">
                <thead>
                  <tr>
                    <th>teste</th>
                    <th>teste</th>
                    <th>teste</th>
                    <th>teste</th>
                    <th>teste</th>
                    <th>teste</th>
                    <th>teste</th>
                    <th>teste</th>
                    <th>teste</th>
                    <th>teste</th>
                    <th class="collapsing">Editar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>teste</td>
                    <td>
                      <span data-inverted="" data-position="top left" data-tooltip="Orçamento"
                        class='ui blue label'>O</span>
                    </td>
                    <td>
                      <a data-tooltip="Editar" data-position="bottom left" data-inverted="">
                        teste
                      </a>
                    </td>
                    <td>
                      <span>
                        teste
                      </span>
                      <span data-inverted="" data-position="top left" data-tooltip="Corporativo">
                        <i class="building triangle icon"></i>
                      </span>
                    </td>
                    <td>teste</td>
                    <td>teste</td>
                    <td>teste</td>
                    <td>teste</td>
                    <td>
                      <span class="ui gray label">
                        teste
                      </span>
                    </td>
                    <td>
                      <span data-inverted="" data-position="top left" data-tooltip="Solicitação de pedido"
                        class="ui green label">teste</span>
                    </td>
                    <td>
                      <a class="ui yellow circular icon button " data-tooltip="Editar" data-position="bottom left"
                        data-inverted="">
                        <i class="edit icon"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</app-content>