<app-navbar></app-navbar>

<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        Um idoso... Um pai... Um avô... Um ser humano!
      </h1>
      <h2>Nossa CASA FADA oferece à sua família e ao seu idoso um local de muito aconchego, conforto e segurança.</h2>

    </div>
  </div>


  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">Equipe Especializada!</h3>
          <p>Todos nossos colaboradores são incentivados a cuidar dos nossos hóspedes com alegria, respeitando a
            personalidade e as necessidades de cada um.</p>
          <h3 class="ui header">Atendimento diferenciado!</h3>
          <p>Nossa hospedagem segue um modelo de atendimento diferenciado e único, como gostaríamos de receber para
            nossos familiares e/ou para nós mesmos.</p>
        </div>
        <div class="six wide right floated column">
          <img src="assets/Imagens/IdosoCuidadora.jpg">
        </div>
      </div>

    </div>
  </div>


  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"VISITAS EM HORÁRIO LIVRE"</h3>
          <p>Não é necessário agendar com antecedência</p>
        </div>
        <div class="column">
          <h3>"A CASA FADA tem suporte 24 Horas"</h3>
          <p>
            <img src="assets/Imagens/suporte.jpg" class="ui avatar image"> <b>Atendente</b> Rafaela
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="ui vertical stripe segment">
    <div class="ui text container">

      <h4 class="ui horizontal header divider">
        <a href="https://casafada.com.br/">Casa Fada</a>
      </h4>
      <h3 class="ui header">Breve história sobre a CASA FADA</h3>
      <p>Era uma vez uma grande família, admirada e conhecida pela grande harmonia que reinava entre os 17 irmãos, e
        pelo quanto gostavam de estar juntos.

        Com o avançar da idade, os 17 irmãos preocuparam-se lembrando toda a dificuldade enfrentada com os cuidados do
        pai que teve Alzheimer. Não querendo causar o mesmo problema aos próprios filhos, sobrecarregando-os, decidiram
        fundar uma Casa de Repouso onde possam envelhecer e permanecer sempre próximos, juntamente com outros idosos que
        queiram participar dessa grande família!</p>
      <a class="ui large button">Eu me Interessei</a>
    </div>
  </div>


  <div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Sobre</h4>
          <div class="ui inverted link list">
            <a href="https://casafada.com.br/" class="item">Site Para Cliente</a>
            <a href="https://casafada.com.br/fale-conosco/" class="item">Entre em Contato Conosco</a>
            <a href="#" class="item"><i class="phone icon"></i>(31) 3243-1668</a>
            <a href="#" class="item"><i class="envelope outline icon"></i>contato@casafada.com.br</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Serviço</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Longa Permanência</a>
            <a href="#" class="item">Moradia Temporária</a>
            <a href="#" class="item">Day use</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Casa Fada</h4>
          <p>Somos uma empresa familiar que busca proporcionar respeito e carinho para aqueles que passaram a vida toda
            cuidando de você.</p>
        </div>
      </div>
    </div>
  </div>
</div>