<!-- <block-ui [template]="blockTemplateBallTriangle" [message]="'Carregando dados...'">
</block-ui> -->
<!-- 
<block-ui [template]="blockTemplateGrid" [message]="'Loading...'">
</block-ui> -->
<block-ui [template]="blockTemplateSpinner" [message]="'Loading...'">
</block-ui>
<!-- <block-ui>
</block-ui> -->