<app-content>
    <div class="centro">
        <div class="ui grid container login">
            <div class="row">
                <div class="sixteen wide centered column">
                    <img src="assets/Imagens/casarepouso.png" class="image">
                    <h2 class="ui teal image header"></h2>

                </div>
            </div>
            <div class="row">
                <div class="sixteen wide centered column">
                    <h2 class="ui teal image header">
                        <div class="content">
                            Cadastro
                        </div>
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="sixteen wide centered column container-login">
                    <div class="ui raised segment">

                        <form [formGroup]="formulario" class="ui large form">
                            <div class="ui stacked segment">

                                <div class="field">
                                    <div class="ui left icon input required">
                                        <i class="user icon"></i>
                                        <input formControlName="userName" type="text" name="login"
                                            placeholder="Nome do Usuário">

                                    </div>
                                </div>

                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="user icon"></i>
                                        <input formControlName="nomeCompleto" type="text" name="nomeDeUsuario"
                                            placeholder="Nome completo">
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="ui left icon input">
                                        <i class="envelope icon"></i>
                                        <input formControlName="email" type="text" name="email" placeholder="E-mail">
                                    </div>
                                </div>


                                <div>
                                    <div class="field">
                                        <div class="ui left icon input">
                                            <i class="lock icon"></i>
                                            <input formControlName="password" type="password" name="password"
                                                placeholder="Senha">
                                        </div>
                                    </div>

                                    <div (click)="submit()" class="ui fluid large teal submit button">Cadastrar</div>
                                </div>
                            </div>
                        </form>

                        <div class="ui message">
                            Já é cadastrado? <a href="login"> Login</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</app-content>