<div class="ui equal width grid stackable menu-doctor">
  <div class="equal width row">
    <div class="column">
      <label class=" ui large red label">Cadastros</label>

      <div class="ui middle aligned animated selection list">

        <a routerLink="/atendentel" class="item">
          <i class="red call large icon submenucolor"></i>
          <div class="content">
            <div class="header">Atendentes</div>
          </div>
        </a>
        <a routerLink="/cuidadoral" class="item">
          <i class="red id badge large icon submenucolor"></i>
          <div class="content">
            <div class="header">Cuiradoras</div>
          </div>
        </a>

        <a routerLink="/lista-idoso" class="item">
          <i class="red user circle large icon submenucolor"></i>
          <div class="content">
            <div class="header">Idosos</div>
          </div>
        </a>

        <a routerLink="/clientel" class="item">
          <i class="red child large icon submenucolor"></i>
          <div class="content">
            <div class="header">Responsável</div>
          </div>
        </a>

      </div>
    </div>


    <div class="column">
      <label class=" ui large red label">Vendas</label>
      <div class="ui middle aligned animated selection list">


        <a routerLink="/simulador" class="item">
          <i class="red edit outline large icon submenucolor "></i>
          <div class="content">
            <div class="header">Simulador de Preços</div>
          </div>
        </a>

      </div>
    </div>

    <div class="column">

      <label class="red ui large label">Logística</label>

      <div class="ui middle aligned animated selection list">

        <a routerLink="/bloqueiohorarios" class="item">
          <i class="red lock large icon submenucolor"></i>
          <div class="content">
            <div class="header">Bloqueio de Horários</div>
          </div>
        </a>

        <a routerLink="/compromissol" class="item">
          <i class="red exclamation circle large icon submenucolor"></i>
          <div class="content">
            <div class="header">Compromisso dos Cuidarores</div>
          </div>
        </a>

        <a routerLink="/visualizacaoagenda" class="item">
          <i class="red calendar alternate large icon submenucolor"></i>
          <div class="content">
            <div class="header">Agenda da Semana</div>
          </div>
        </a>
        <a routerLink="/calendario-tecnicos" class="item">
          <i class="red gamepad large icon submenucolor"></i>
          <div class="content">
            <div class="header">Controle dos Idosos</div>
          </div>
        </a>

      </div>

    </div>

    <div class="column">
      <label class=" ui large red label">Institucional</label>

      <div class="ui middle aligned animated selection list">
        <a routerLink="/alertal" class="item">
          <i class="bell red icon"></i>
          <div class="content">
            <div class="header">Alertas</div>
          </div>
        </a>
        <a routerLink="/emailmodelol" class="item">
          <i class="envelope red icon"></i>
          <div class="content">
            <div class="header">Modelos de Email</div>
          </div>
        </a>

        <a routerLink="/videol" class="item">
          <i class="red film large icon submenucolor"></i>
          <div class="content">
            <div class="header">Vídeos</div>
          </div>
        </a>

        <a routerLink="/relatorios" class="item">
          <i class="red pie chart large icon submenucolor"></i>
          <div class="content">
            <div class="header">Relatórios</div>
          </div>
        </a>

        <a routerLink="/evento" class="item">
          <i class="red birthday cake icon"></i>
          <div class="content">
            <div class="header">Adicionar Evento</div>
          </div>
        </a>
      </div>
    </div>

    <div class="column">
      <label class=" ui large red label">Marketing</label>

      <div class="ui middle aligned animated selection list">
        <a routerLink="/cupoml" class="item">
          <i class="red ticket large icon submenucolor"></i>
          <div class="content">
            <div class="header">Cupons de Desconto</div>
          </div>
        </a>
      </div>
    </div>

    <div class="column">
      <label class=" ui large red label">Configurações</label>

      <div class="ui middle aligned animated selection list">
        <a routerLink="/controleTasks" class="item">
          <i class="red play large icon submenucolor"></i>
          <div class="content">
            <div class="header">Tasks</div>
          </div>
        </a>
      </div>
      <div class="ui middle aligned animated selection list">
        <a routerLink="/tokenpermissaoe" class="item">
          <i class="red lock large icon submenucolor"></i>
          <div class="content">
            <div class="header">Token</div>
          </div>
        </a>

      </div>
    </div>
  </div>
  <div class="equal width row">
    <div class="column">
      <span>V1.0 - Xavasca Solution</span>
    </div>
  </div>
</div>