<div class="ui attached message">
  <div class="ui red header">
    {{titulo}}
  </div>
  <p *ngIf="descricao != null">
    {{descricao}}
  </p>
</div>
<div class="ui attached segment" [ngStyle]="style">

  <ng-content>

  </ng-content>
</div>