<app-content>
  <div class="row">

    <div class="ten wide centered column">
      <app-segment align="center" [titulo]="'Prontuário'" [style]="segmentStyle" *ngIf="this.idosoSelecionado != null">

        <div class="ui grid">
          <div class="four column row">
            <div class="left floated column">

              <div class="row">
                <h3> Diário Residente</h3>
              </div>

            </div>
            <div class="right floated column">
              <div class="row" *ngIf="this.idosoSelecionado.nome != null">
                <div class="inline fields">
                  <h3>Paciente: </h3>{{this.idosoSelecionado.nome}}
                </div>

              </div>

            </div>
          </div>
        </div>

      </app-segment>

      <app-segment [style]="segmentStyle">
        <form class="ui form">
          <div class="inline fields">
            <div class="sixteen wide field">
              <label>Como Acordou? </label>
              <input type="text" placeholder="Faça um resumo">
            </div>
          </div>

          <div class="inline fields">
            <div class="four wide field">
              <div class="ui escovacao toggle checkbox">
                <input type="checkbox" (change)="selecionarCheckBoxEscovacao()">
                <label>Escovação</label>
              </div>
            </div>

            <div class="three wide field">
              <div class="ui banho toggle checkbox">
                <input type="checkbox" (change)="selecionarCheckBoxBanho()">
                <label>Banho</label>
              </div>
            </div>

            <div class="four wide field">
              <label>Horas: </label>
              <input type="text" placeholder="Ex: 12:35">
            </div>

            <div class="five wide field">
              <label>Lavou a Cabeça?</label>
              <div class="ui buttons">
                <button class="ui negative button">Não</button>
                <div class="or"></div>
                <button class="ui positive button">Sim</button>
              </div>
            </div>
          </div>


        </form>
      </app-segment>

      <app-segment align="center" [titulo]="'Medicamentos MANHÃ'" [style]="segmentStyle">
        <div align="left"><b>Manhã - </b> medicação após café da manhã</div>
        <br>
        <div class="ui form" *ngFor="let remedios of listaRemedio">
          <div class="row">
            <div class="inline fields">
              <div class="four wide field">
                <b>Nome: </b> {{remedios.nome}}
              </div>

              <div class="four wide field">
                <b>Dosagem: </b> {{remedios.dosagem.dosagemMg}}
              </div>

              <div class="four wide field">
                <b>Quantidade: </b> {{remedios.quantidade.quantidade}}
              </div>

              <div class="four wide field">
                <b>Finalidade: </b> Não Cadastrado
              </div>

            </div>
          </div>


        </div>

      </app-segment>

      <app-segment [style]="segmentStyle">
        <div class="ui form">
          <div class="inline fields">
            <div class="six wide field">
              <label>Temperatura</label>
              <input type="text">
            </div>
            <div class="four wide field">
              <label>FC</label>
              <input type="text">
            </div>
            <div class="six wide field">
              <label>Pa</label>
              <input type="text">
              x
              <input type="text" placeholder="">Hora
            </div>
          </div>
        </div>
      </app-segment>

      <app-segment align="center" [titulo]="'Medicamentos Tarde 16 HORAS'" [style]="segmentStyle">
        <div align="left"><b>Tarde - </b> medicação após café da Tarde</div>
        <br>
        <div class="ui form" *ngFor="let remedios of listaRemedio">
          <div class="row">
            <div class="inline fields">
              <div class="four wide field">
                <b>Nome: </b> {{remedios.nome}}
              </div>

              <div class="four wide field">
                <b>Dosagem: </b> {{remedios.dosagem.dosagemMg}}
              </div>

              <div class="four wide field">
                <b>Quantidade: </b> {{remedios.quantidade.quantidade}}
              </div>

              <div class="four wide field">
                <b>Finalidade: </b> Não Cadastrado
              </div>

            </div>
          </div>


        </div>

      </app-segment>

      <app-segment align="center" [titulo]="'Medicamentos Jantar'" [style]="segmentStyle">
        <div align="left"><b>Jantar - </b> medicação de 18:00 até 19:00</div>
        <br>
        <div class="ui form">
          <div class="row" *ngFor="let remedios of listaRemedio">
            <div class="inline fields">
              <div class="four wide field">
                <b>Nome: </b> {{remedios.nome}}
              </div>

              <div class="four wide field">
                <b>Dosagem: </b> {{remedios.dosagem.dosagemMg}}
              </div>

              <div class="four wide field">
                <b>Quantidade: </b> {{remedios.quantidade.quantidade}}
              </div>

              <div class="four wide field">
                <b>Finalidade: </b> Não Cadastrado
              </div>

            </div>
          </div>


        </div>

      </app-segment>

      <app-segment [style]="segmentStyle">
        <div class="ui form">
          <div class="inline fields">
            <div class="six wide field">
              <label>Temperatura</label>
              <input type="text">
            </div>
            <div class="four wide field">
              <label>FC</label>
              <input type="text">
            </div>
            <div class="six wide field">
              <label>Pa</label>
              <input type="text">
              x
              <input type="text" placeholder="">Hora
            </div>
          </div>
        </div>
      </app-segment>


      <app-segment align="center" [titulo]="'Medicamentos Noite'" [style]="segmentStyle">
        <div align="left"><b>Noite - </b> 15 minutos antes de dormir</div>
        <br>
        <div class="ui form" *ngFor="let remedios of listaRemedio">
          <div class="row">
            <div class="inline fields">
              <div class="four wide field">
                <b>Nome: </b> {{remedios.nome}}
              </div>

              <div class="four wide field">
                <b>Dosagem: </b> {{remedios.dosagem.dosagemMg}}
              </div>

              <div class="four wide field">
                <b>Quantidade: </b> {{remedios.quantidade.quantidade}}
              </div>

              <div class="four wide field">
                <b>Finalidade: </b> Não Cadastrado
              </div>

            </div>
          </div>


        </div>

      </app-segment>

      <app-segment [style]="segmentStyle">
        <form class="ui form">

          <div class="inline fields">
            <div class="eight wide field">
              <h3>Funcionamento do intestino: </h3>
            </div>

            <div class="four wide field">
              <div class="ui checkbox">
                <input type="checkbox" name="normal">
                <label>Normal</label>
              </div>
            </div>

            <div class="four wide field">
              <div class="ui checkbox">
                <input type="checkbox" name="constipado">
                <label>Constipado</label>
              </div>
            </div>


          </div>
          <div class="inline fields">
            <div class="four wide field">
              <h3>Diarreia: </h3>
            </div>

            <div class="four wide field">
              <div class="ui checkbox">
                <input type="checkbox" name="acordar">
                <label>Ao acordar</label>
              </div>
            </div>

            <div class="four wide field">
              <div class="ui checkbox">
                <input type="checkbox" name="dia">
                <label>Durante o dia</label>
              </div>
            </div>

            <div class="four wide field">
              <div class="ui checkbox">
                <input type="checkbox" name="Noite">
                <label>Noite</label>
              </div>
            </div>


          </div>


        </form>
      </app-segment>

      <app-segment [style]="segmentStyle">
        <div class="ui form">
          <div class="inline fields">
            <div class="six wide field">
              <label>Temperatura</label>
              <input type="text">
            </div>
            <div class="four wide field">
              <label>FC</label>
              <input type="text">
            </div>
            <div class="six wide field">
              <label>Pa</label>
              <input type="text">
              x
              <input type="text" placeholder="">Hora
            </div>
          </div>
        </div>

      </app-segment>

      <app-segment>
        <app-segment-action-menu>

          <div>
            <button class="ui primary button">
              <i class="tasks icon"></i> Salvar
            </button>
          </div>

        </app-segment-action-menu>
      </app-segment>




    </div>
  </div>

</app-content>