<div class="ui borderless stackable menu">
  <div class="header item">

    <h3 class="ui red header">
      {{titulo}}
      <div class="sub header">{{descricao}}</div>
    </h3>
  </div>
  <div class="right menu">
    <ng-content>

    </ng-content>

  </div>
</div>