<app-navbar></app-navbar>

<app-content>
  <div class="row">
    <div class="sixteen wide column">

      <app-action-menu [titulo]="'Evento'" [descricao]="'Cadastre um novo evento aqui'">
        <div class="item">
          <a routerLink="/home" class="ui primary circular icon button" data-tooltip="Voltar"
            data-position="bottom left" data-inverted="">
            <i class="left arrow icon"></i>
          </a>
        </div>


        <div class="item">
          <button class="ui circular red icon button" data-tooltip="Cancelar" data-position="bottom left"
            data-inverted="">
            <i class="remove icon"></i>

          </button>
        </div>

        <div class="item">
          <button class="ui green circular icon button" (click)="submitImg()" type="submit" data-tooltip="Salvar"
            data-position="bottom left" data-inverted="">
            <i class="check icon"></i>
          </button>
        </div>

        <div class="item">
          <button class="ui yellow circular icon button" data-tooltip="Ajuda" data-position="bottom left"
            data-inverted="">
            <i class="question icon"></i>
          </button>
        </div>

      </app-action-menu>

    </div>
  </div>

  <div class="row">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <form [formGroup]="formulario">
        <app-segment [titulo]="'Cadastrar Evento '" [style]="segmentStyle">
          <div class="ui grid">
            <div class="row">
              <div class="six wide column">
                <div class="ui cards">
                  <div class="fluid card">

                    <div class="extra content">
                      <div class="ui two buttons">
                        <div class="ui primary button" (click)="escolherImagem()">Escolher
                        </div>
                      </div>
                    </div>
                    <div class="image">
                      <img id="imagemescolhida" [src]="urlFotoPaciente">
                      <input src="{{urlFotoPaciente}}" id="inputFile" #fileInput type="file" accept="image/*"
                        (change)="FileInput($event.target.files)" [hidden]="true" />
                    </div>
                  </div>
                </div>

              </div>
              <div class="ten wide column">

                <div class="ui form">

                  <div class="required sixteen wide field">
                    <label for="nome">Tìtulo</label>
                    <input type="text" formControlName="titulo">
                  </div>

                  <div class="required sixteen wide field">
                    <label for="nome">Mensagem</label>
                    <textarea id="texto" formControlName="texto" placeholder="Escreva aqui o tutorial..."></textarea>

                  </div>

                </div>
              </div>
              <div class="sixteen wide column">
              </div>
            </div>

          </div>
        </app-segment>


      </form>
    </div>
    <div class="four wide column">
    </div>

  </div>

  <!-- <div class="row">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <form [formGroup]="formulario" #imageForm=ngForm>
        <app-segment [titulo]="'Cadastrar tutorial '" [style]="segmentStyle">
          <div class="ui grid">
            <div class="row">
              <div class="six wide column">
                <div class="ui cards">
                  <div class="fluid card">

                    <div class="extra content">
                      <div class="ui two buttons">
                        <div class="ui primary button" (click)="escolherImagem()">Escolher
                        </div>
                      </div>
                    </div>
                    <div class="image">
                      <img id="imagemescolhida" [src]="urlFotoTutorial">
                      <input src="{{urlFotoTutorial}}" id="inputFile" #fileInput type="file" accept="image/*"
                        (change)="FileInput($event.target.files)" [hidden]="true" />
                    </div>
                  </div>
                </div>

              </div>
              <div class="ten wide column">

                <div class="ui form">

                  <div class="required sixteen wide field">
                    <label for="nome">Tìtulo</label>
                    <input type="text" formControlName="titulo">
                  </div>

                  <div class="required sixteen wide field">
                    <label for="nome">Tutorial</label>
                    <textarea id="texto" formControlName="texto" placeholder="Escreva aqui o tutorial..."></textarea>

                  </div>

                </div>
              </div>
              <div class="sixteen wide column">
              </div>
            </div>

          </div>
        </app-segment>

      </form>
    </div>
    <div class="four wide column">
    </div>
  </div> -->
</app-content>