<ng-template let-context let-modal="modal" #modal>
    <i class="close icon"></i>
    <div class="header">
        <div class="ui two column grid">

            <div class="column" align="left">Cliente: </div>
            <div class="column" align="right">
                <div class="row">Data: </div>
                <div class="row">Início: </div>
                <div class="row">Fim: </div>
            </div>

        </div>
    </div>

    <div class="scrolling content">
        <div class="ui form">
        </div>


    </div>
</ng-template>