<app-content>
  <div class="row">

    <div class="ten wide centered column">
      <app-segment [titulo]="'Idoso'" [style]="segmentStyle">
        <form [formGroup]="form" class="ui form">
          <div class="fields">
            <div class="ten wide required field">

              <label>Nome</label>
              <input type="text" name="nome" formControlName="nome" (blur)="identificarPossivelIdoso()">

            </div>

          </div>

          <div class="ui divider"></div>

          <app-segment-action-menu>
            <div class="item no-space">
              <button class="ui circular green icon button" (click)="identificarPaciente()"
                data-tooltip="Pesquisar Idoso" data-position="bottom left" data-inverted="">
                <i class="search icon"></i>
              </button>
            </div>
          </app-segment-action-menu>

        </form>
      </app-segment>

      <app-segment [titulo]="'Idosos Encontrados'">

        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
          class="ui selectable striped celled compact table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>CPF</th>
              <th class="collapsing">Detalhes</th>
              <th class="collapsing">Atender</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of listaPacientes">
            <tr>
              <td *ngIf="item.nome != null && item.nome != ''">{{item.nome}} </td>

              <td *ngIf="item.cpf != ''; else documentoCliente">{{item.cpf}}</td>
              <ng-template #documentoCliente>
                <td>Sem Documento</td>
              </ng-template>

              <td class="center aligned">
                <a class="ui yellow circular icon button" (click)="exibirDetalhesCliente(item.id)">
                  <i class="info icon"></i>
                </a>
              </td>
              <td class="center aligned">
                <a class="ui green circular icon button" (click)="atenderIdoso(item)">
                  <i class="handshake arrow icon"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>

      </app-segment>

    </div>

  </div>
</app-content>


<div class="ui basic modal atendimento-modal">
  <div class="ui header">
    <h2>Iniciar Atendimento</h2>
  </div>
  <div class="content">
    <h3>Deseja iniciar o atendimento para o Idoso {{nomePacienteSelecionado}}?</h3>
  </div>
  <div class="actions">
    <div class="ui green approve button" (click)="this.atenderPaciente()">Confirmar</div>
    <div class="ui red deny button">Cancelar</div>
  </div>
</div>