<app-navbar></app-navbar>

<app-content>

  <div class="row">
    <div class="sixteen wide centered column">
      <div class="ui four top attached stackable ordered steps">

        <div class="step"
          [ngClass]="{'completed': etapasAtendimentoConcluidas.idoso, 'active': etapaAtendimentoAtual.idoso }">
          <div class="content">
            <div class=" title "> Para quem</div>
            <div class="description"> Identifique quem é o seu Idoso</div>
          </div>
        </div>

        <div class="step"
          [ngClass]="{'completed': etapasAtendimentoConcluidas.prontuario, 'active': etapaAtendimentoAtual.prontuario }">
          <div class="content">
            <div class=" title "> Prontuário</div>
            <div class="description"> Preencha o prontuário do Idoso </div>
          </div>
        </div>

        <div class="step"
          [ngClass]="{'completed': etapasAtendimentoConcluidas.responsavel, 'active': etapaAtendimentoAtual.responsavel }">
          <div class="content">
            <div class=" title "> Responsável</div>
            <div class="description"> Enviar Informações diárias para responsável</div>
          </div>
        </div>

        <div class="step"
          [ngClass]="{'completed': etapasAtendimentoConcluidas.confirmacao, 'active': etapaAtendimentoAtual.confirmacao }">
          <div class="content">
            <div class=" title "> Confirmação</div>
            <div class="description"> Confirme se está tudo certo</div>
          </div>
        </div>


      </div>
    </div>
  </div>

</app-content>

<app-identificacao-idoso *ngIf="etapaAtendimentoAtual.idoso" (pacienteSelecionado)="pacienteSelecionado($event)">
</app-identificacao-idoso>

<app-prontuario *ngIf="etapaAtendimentoAtual.prontuario" [idosoGuid]="idoso.guid">

</app-prontuario>