<div class="ui large stackable borderless menu">
  <a class="item" (click)="exibirMenu()">
    <i class="options red large icon"></i>
    Menu
  </a>
  <a routerLink="/home" class="item">
    <i class="home red large icon"></i>
    Início
  </a>

  <a routerLink="/etapas-atendimento" class="item">
    <i class="volume control phone red large icon"></i>
    Atendimento
  </a>
  <a routerLink="/prontuariol" class="item">
    <i class="calculator red large icon"></i>
    Listagem de prontuário
  </a>

  <a routerLink="/relatorios" class="item">
    <i class="pie chart red large icon"></i>
    Relatórios
  </a>

  <div class="item">

  </div>

  <div class="right menu">

    <a class="item" id="alerta">
      <i class="bell red large icon"></i>
      Notificações

    </a>

    <a routerLink="/perfil" class="item">
      <i class="user circle outline red large icon"></i>
      Perfil
    </a>

    <div class="item" id="pesquisa">

      <div class="ui icon input">
        <input type="text" placeholder="Me pergunte algo">
        <i class="circular search link icon" style="top: 0.25em"></i>
      </div>

    </div>
  </div>
</div>

<app-sub-menu [hidden]="!exibicaoMenu" (click)="exibirMenu()"></app-sub-menu>

<div class="ui long modal">
  <div id="titulo-modal-pesquisa" class="header">
    ---
  </div>
  <div class="scrolling content">
    <div id="texto-modal-pesquisa">
    </div>
  </div>
  <div class="actions">
    <div class="ui red deny button">Fechar</div>
  </div>
</div>

<div id="popup-pesquisa" class="ui flowing popup top left transition hidden">
  <div class="ui grid">
    <div class="row">
      <div class="sixteen wide column">

        <h3 class="ui header">
          <i class="search red large icon"></i>
          <div class="content">
            Resultado
          </div>
        </h3>
        <div class="ui clearing divider"></div>
      </div>
      <div class="sixteen wide column">
        <div class="ui middle aligned divided list">
          <div class="item">
            <div class="content">
              <i class="sticky note icon"></i>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #elsePesquisaBlock>Nenhum resultado encontrado</ng-template>
</div>

<div id="popup-alerta" class="ui flowing popup top left transition hidden popup-medio"
  style="height: 400px; overflow-y: scroll; overflow-x: hidden;">
  <div class="ui styled fluid accordion" *ngIf="this.exibirAlerta == true; else elseBlock">
    <div *ngFor="let item of resultAlerta" (click)="popAlertaAberto(item)">
      <div class="title" (click)="alternarSelecaoAlerta(item.id)">
        <i class="dropdown icon"></i>
        {{item.titulo}}
        <i class="red circle icon" *ngIf="item.lidaEm == null"></i>
      </div>
      <div class="content">
        <div style="min-height: 150px;" class="transition visible" style="display: block !important;">
          <pre class="pre-tag">{{item.descricao}}</pre>
        </div>
      </div>
    </div>
  </div>

  <ng-template #elseBlock>Sem novas notificações para mostrar</ng-template>
</div>