<app-navbar></app-navbar>

<app-content>
  <textarea style="height:0px; width:0px; left:-100px; top:-100px; opacity:0" #linkAreaP></textarea>
  <div class="row">
    <div class="sixteen wide column">

      <app-action-menu [titulo]="'Idosos'" [descricao]="'Lista de Idosos cadastrados no sistema'">

        <div class="item">
          <a routerLink="/idosoe" class="ui circular primary icon button" data-tooltip="Novo Idoso"
            data-position="bottom right" data-inverted="">
            <i class="plus icon"></i>

          </a>
        </div>

      </app-action-menu>

    </div>
  </div>

  <div class="row">
    <div class="sixteen wide column">

      <div class="ui fluid card">
        <div class="content">
          <div class="description">

            <div class="row">

              <table class="ui selectable striped celled compact table">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Nacionalidade</th>
                    <th>Data de Nascimento</th>
                    <th>Sexo</th>
                    <th>Tipo Sanguínio</th>
                    <th class="collapsing">Link</th>
                    <th class="collapsing">Editar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of idosos">
                    <td>{{item.nome}} </td>
                    <td>{{item.cpf}}</td>
                    <td>{{item.nacionalidade}}</td>
                    <td>{{item.dataNascimento | date:'dd/MM/yyyy'}}</td>
                    <td>{{item.sexo}}</td>
                    <td>{{item.tipoSanguineo}}</td>
                    <td>
                      <button class="ui blue circular icon button " data-tooltip="Copiar acesso da área"
                        data-position="bottom right" data-inverted="">
                        <i class="paste icon"></i>
                      </button>
                    </td>
                    <td>
                      <a [routerLink]="[ '/idosoe', item.guid ]" class="ui yellow circular icon button "
                        data-tooltip="Editar" data-position="bottom left" data-inverted="">
                        <i class="edit icon"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</app-content>