<app-navbar></app-navbar>

<app-content>

  <div class="row">
    <div class="sixteen wide column">
      <app-action-menu [titulo]="'Cuidadores'" [descricao]="'Edite ou cadastre um novo cuidador(a)'">
        <div class="item">
          <a routerLink="/cuidadoral" class="ui primary circular icon button" data-tooltip="Voltar"
            data-position="bottom left" data-inverted="">
            <i class="left arrow icon"></i>
          </a>
        </div>

        <div class="item">
          <button class="ui circular red icon button" data-tooltip="Excluir" data-position="bottom left"
            data-inverted="" (click)="exibirModalExcluir()">
            <i class="remove icon"></i>

          </button>
        </div>

        <div class="item">
          <button class="ui green circular icon button" (click)="submit()" (ngSubmit)="submit()" type="submit"
            data-tooltip="Salvar" data-position="bottom left" data-inverted="">
            <i class="check icon"></i>
          </button>
        </div>

        <div class="item">
          <button class="ui yellow circular icon button" data-tooltip="Ajuda" data-position="bottom left"
            data-inverted="">
            <i class="question icon"></i>
          </button>
        </div>
      </app-action-menu>
    </div>

  </div>
  <div class="row">
    <div class="eight wide column">
      <form>
        <app-segment [titulo]="'Dados Pessoais'" [style]="segmentStyle">
          <div class="ui grid">
            <div class="row">

              <div class="six wide column">
                <div class="ui cards">
                  <div class="fluid card">

                    <div class="extra content">
                      <div class="ui two buttons">
                        <div class="ui primary button" (click)="escolherImagem()">Escolher
                        </div>
                      </div>
                    </div>
                    <div class="image">
                      <img id="imagemescolhida" [src]="urlFotoEvento">
                      <input src="{{urlFotoEvento}}" id="inputFile" #fileInput type="file" accept="image/*"
                        (change)="FileInput($event.target.files)" [hidden]="true" />
                    </div>
                  </div>
                </div>

              </div>

              <div class="ten wide column">

                <div class="ui form">

                  <div class="required sixteen wide field">
                    <label for="nome">Nome</label>
                    <input type="text">
                  </div>

                  <div class="required sixteen wide field">
                    <label for="email">Nacionalidade</label>
                    <input type="email">
                  </div>

                  <div class="fields">

                    <div class="required eight wide field">
                      <label for="cpf">CPF</label>
                      <input type="text" maxlength="11">
                    </div>
                    <div class="required eight wide field">
                      <label for="nis">NIS</label>
                      <input type="text" maxlength="10">
                    </div>
                  </div>

                  <div class="fields">

                    <div class="required eight wide field">
                      <label for="dataNascimento">Data de Nascimento</label>
                      <input type="date">
                    </div>

                    <div class="required eight wide field">
                      <label>Sexo</label>
                      <select class="ui dropdown unidade">
                        <option [ngValue]="null">
                          Outros
                        </option>

                        <option [ngValue]="0">
                          Masculino
                        </option>

                        <option [ngValue]="1">
                          Feminino
                        </option>
                      </select>

                    </div>
                  </div>



                </div>
              </div>

              <div class="sixteen wide column">

                <div class="ui form">

                  <div class="fields">

                    <div class="required eight wide field">

                      <label>Tipo Sanguínio</label>
                      <input type="text">
                    </div>

                    <div class="required eight wide field">
                      <label for="dataNascimento">Data de Entrada</label>
                      <input type="date">
                    </div>

                  </div>




                  <div class="fields">
                    <div class="required sixteen wide field">
                      <label for="nome">Observações</label>
                      <textarea id="texto" placeholder="Doenças, Alergias..."></textarea>

                    </div>
                  </div>

                </div>
              </div>




            </div>
          </div>
        </app-segment>
      </form>
    </div>

    <div class="eight wide column">

      <app-segment [titulo]="'Estudo e Trabalho'" [style]="segmentStyle">
        <div class="ui grid">
          <div class="row">


            <div class="sixteen wide column">

              <div class="ui form">

                <div class="fields">
                  <div class="sixteen wide column">
                    <div class="field">

                      <label for="escolaridade">Nível de Escolaridade</label>

                      <select class="ui fluid search dropdown" name="card[expire-month]">
                        <option value="">Escolaridade</option>
                        <option value="1">Analfabeto</option>
                        <option value="2">Le e escreve</option>
                        <option value="3">Ensino Fundamental incompleto</option>
                        <option value="4">Ensino Fundamental completo</option>
                        <option value="5">Ensino Médio incompleto</option>
                        <option value="6">Ensino Médio completo</option>
                        <option value="7">Superior incompleto</option>
                        <option value="8">Superior completo</option>
                      </select>
                    </div>
                  </div>
                </div>


                <div class="fields">
                  <div class="field">
                    <label>Número CTPS</label>
                    <input type="text">
                  </div>
                  <div class="field">
                    <label>Série CTPS</label>
                    <input type="text">
                  </div>
                  <div class="field">
                    <label>Estado CTPS</label>
                    <input type="text">
                  </div>
                </div>

                <div class="fields">
                  <div class="eight wide column">
                    <label>Salário</label>
                    <input type="text">
                  </div>
                </div>
              </div>
            </div>




          </div>
        </div>
      </app-segment>

      <div class="ui divider"></div>

      <app-segment [titulo]="'Endereço'" [style]="segmentStyle">

        <form class="ui form">


          <div class="required six wide field">
            <label>Cep</label>
            <div class="ui action input">
              <input type="text" placeholder="pesquisar...">
              <button class="ui teal button">Procurar</button>
            </div>
          </div>

          <div class="five wide field">
            <label>Código Ibge</label>
            <input type="text" formControlName="codigoIbge" class="ui input">
          </div>



          <div class="fields">
            <div class="required eight wide field">
              <label>Logradouro</label>
              <input class="ui input">
            </div>
            <div class="three wide field">
              <label>Número</label>
              <input type="text" class="ui input">
            </div>
            <div class="five wide field">
              <label>Complemento</label>
              <input class="ui input">
            </div>
          </div>

          <div class="fields">
            <div class="required six wide field">
              <label>Bairro</label>
              <input class="ui input">
            </div>
            <div class="required five wide field">
              <label>Cidade</label>
              <input class="ui input">
            </div>
            <div class="required two wide field">
              <label>Estado</label>
              <input class="ui input">
            </div>
            <div class="required four wide field">
              <label>País</label>
              <input class="ui input">
            </div>
          </div>

          <div class="fields">
            <div class="eight wide field">
              <label>Referência</label>
              <input class="ui input">
            </div>
            <div class="required four wide field">
              <label>Latitude</label>
              <input class="ui input">
            </div>
            <div class="required four wide field">
              <label>Longitude</label>
              <input class="ui input">
            </div>
          </div>

          <div class="fields">
            <div class="sixteen wide field">

              <label>Observação</label>
              <textarea rows="3"></textarea>
            </div>
          </div>


        </form>
      </app-segment>

    </div>

  </div>





</app-content>