<app-navbar></app-navbar>



<app-content>
  <textarea style="height:0px; width:0px; left:-100px; top:-100px; opacity:0"></textarea>
  <div class="row">
    <div class="sixteen wide column">

      <app-action-menu [titulo]="'Cuidadores '" [descricao]="'Lista de Cuidadores cadastrados no sistema'">

        <div class="item">
          <a routerLink="/cuidadorae" class="ui circular primary icon button" data-tooltip="Novo Idoso"
            data-position="bottom right" data-inverted="">
            <i class="plus icon"></i>

          </a>
        </div>

      </app-action-menu>

    </div>
  </div>

  <div class="row">
    <div class="sixteen wide column">

      <div class="ui fluid card">
        <div class="content">
          <div class="description">

            <div class="row">

              <table class="ui selectable striped celled compact table">
                <thead>
                  <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th class="collapsing"> Ativo</th>
                    <th class="collapsing">Editar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Teste</td>
                    <td>Teste</td>
                    <td>Teste</td>

                    <td>
                      <div class="ui red horizontal label">Não</div>
                    </td>
                    <td>
                      <a class="ui yellow circular icon button " data-tooltip="Editar" data-position="bottom left"
                        data-inverted="">
                        <i class="edit icon"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</app-content>