<app-navbar></app-navbar>

<app-content>

  <div class="row">
    <div class="sixteen wide column">
      <app-action-menu [titulo]="'Paciente'" [descricao]="'Edite ou cadastre um novo paciente'">
        <div class="item">
          <a routerLink="/lista-idoso" class="ui primary circular icon button" data-tooltip="Voltar"
            data-position="bottom left" data-inverted="">
            <i class="left arrow icon"></i>
          </a>
        </div>

        <div class="item">
          <button class="ui circular red icon button" data-tooltip="Excluir" data-position="bottom left"
            data-inverted="" (click)="exibirModalExcluir()">
            <i class="remove icon"></i>

          </button>
        </div>

        <div class="item">
          <button class="ui green circular icon button" (click)="submit()" (ngSubmit)="submit()" type="submit"
            data-tooltip="Salvar" data-position="bottom left" data-inverted="">
            <i class="check icon"></i>
          </button>
        </div>

        <div class="item">
          <button class="ui yellow circular icon button" data-tooltip="Ajuda" data-position="bottom left"
            data-inverted="">
            <i class="question icon"></i>
          </button>
        </div>
      </app-action-menu>
    </div>

  </div>
  <div class="row">
    <div class="eight wide column">
      <form [formGroup]="formulario">
        <app-segment [titulo]="'Dados Pessoais'" [style]="segmentStyle">
          <div class="ui grid">
            <div class="row">

              <div class="six wide column">
                <div class="ui cards">
                  <div class="fluid card">

                    <div class="extra content">
                      <div class="ui two buttons">
                        <div class="ui primary button" (click)="escolherImagem()">Escolher
                        </div>
                      </div>
                    </div>
                    <div class="image">
                      <img id="imagemescolhida" [src]="urlFotoEvento">
                      <input src="{{urlFotoEvento}}" id="inputFile" #fileInput type="file" accept="image/*"
                        (change)="FileInput($event.target.files)" [hidden]="true" />
                    </div>
                  </div>
                </div>

              </div>

              <div class="ten wide column">

                <div class="ui form">

                  <div class="required sixteen wide field">
                    <label for="nome">Nome</label>
                    <input type="text" formControlName="nome">
                  </div>

                  <div class="required sixteen wide field">
                    <label for="email">Nacionalidade</label>
                    <input type="email" formControlName="nacionalidade">
                  </div>

                  <div class="fields">

                    <div class="required eight wide field">
                      <label for="cpf">CPF</label>
                      <input type="text" formControlName="cpf" maxlength="11">
                    </div>
                    <div class="required eight wide field">
                      <label for="rg">Rg</label>
                      <input type="text" formControlName="rg" maxlength="10">
                    </div>
                  </div>

                  <div class="fields">

                    <div class="required eight wide field">
                      <label for="dataNascimento">Data de Nascimento</label>
                      <input type="date" formControlName="dataNascimento">
                    </div>

                    <div class="required eight wide field">
                      <label>Sexo</label>
                      <select class="ui dropdown unidade" formControlName="sexo">
                        <option [ngValue]="null">
                          Outros
                        </option>

                        <option [ngValue]="0">
                          Masculino
                        </option>

                        <option [ngValue]="1">
                          Feminino
                        </option>
                      </select>

                    </div>
                  </div>

                </div>
              </div>

              <div class="sixteen wide column">

                <div class="ui form">

                  <div class="fields">
                    <div class="required eight wide field">

                      <label>Tipo Sanguínio</label>
                      <input type="text" formControlName="tipoSanguineo">
                    </div>

                  </div>
                  <div class="fields">
                    <div class="required eight wide field">
                      <label for="dataNascimento">Data de Entrada</label>
                      <input type="date" formControlName="dataDeEntrada">
                    </div>
                  </div>
                  <div class="fields">
                    <div class="required sixteen wide field">
                      <label for="nome">Observações</label>
                      <textarea formControlName="observacao" id="texto" placeholder="Doenças, Alergias..."></textarea>

                    </div>
                  </div>

                </div>
              </div>


            </div>
          </div>
        </app-segment>
      </form>
    </div>

    <div class="eight wide column" *ngIf="this.mostrarEstoque">
      <app-segment [titulo]="'Responsável'" [style]="segmentStyle">
        <div class="ui celled divided animated list">

          <div class="item">
            <div class="right floated content">
              <a [routerLink]="" class="ui yellow circular icon button" data-tooltip="Editar"
                data-position="bottom left" data-inverted="">
                <i class="edit icon"></i>
              </a>
            </div>
            <div class="content">
              <div class="header">
                Nome Responsável:
              </div>
              Telefone:

            </div>
          </div>

        </div>

        <div class="ui divider"></div>
        <app-segment-action-menu>

          <div>
            <button class="ui blue circular icon button" (click)="novoAgendamento(false, formulario.value.guid)"
              type="submit" data-tooltip="Novo Responsável" data-position="bottom right" data-inverted="">
              <i class="plus icon"></i>
            </button>
          </div>

        </app-segment-action-menu>
      </app-segment>

      <app-segment [titulo]="'Utensilios'" [style]="segmentStyle">
        <div class="ui red message">
          <div class="header">
            O Medicamento está chegando ao fim!
          </div>
          <p>Contate o responsável para repor</p>
        </div>

        <div class="ui red message">
          <div class="header">
            A Fralda está chegando ao fim!
          </div>
          <p>Contate o responsável para repor</p>
        </div>

        <div class="ui grid">
          <div class="row">
            <div class="eleven wide column">

              <div class="ui indicating progress" data-percent="74" data-value="3" data-total=""
                id="progressoAgendamentos">
                <div class="bar"></div>
                <div class="label">Medicamentos</div>
              </div>
            </div>

            <div class="five wide column">
              <button class="ui youtube button" (click)="abrirFormExcluir = true"
                data-tooltip="Adicionar Quantidade de Medicamento">
                <i class="syringe icon"></i>
                Adicionar
              </button>

            </div>
          </div>
          <div class="ui divider"></div>

          <div class="row">
            <div class="eleven wide column">

              <div class="ui indicating progress" data-percent="90" data-value="1" data-total=""
                id="progressoAgendamentos">
                <div class="bar"></div>
                <div class="label">Fraldas</div>
              </div>
            </div>

            <div class="five wide column">
              <button class="ui youtube button" data-tooltip="Adicionar Quantidade de Fralda">
                <i class="plus square outline icon"></i>
                Adicionar
              </button>

            </div>
          </div>

        </div>
      </app-segment>

      <app-segment [titulo]="'Medicamentos'" [style]="segmentStyle">

        <div class="ui celled divided animated list">

          <div class="item">
            <h4 *ngIf="listaRemedio == undefined"> Nenhum Remédio Cadastrado!</h4>

            <div class="item" *ngFor="let remedio of listaRemedio">
              <div class="right floated content">
                <a [routerLink]="" class="ui yellow circular icon button" data-tooltip="Editar"
                  data-position="bottom left" data-inverted="">
                  <i class="edit icon"></i>
                </a>
              </div>
              <div class="content">
                <div class="header">
                  Nome do Remédio: {{remedio.nome}}
                </div>
                <div class="body">
                  <div>Quantidade de Comprimidos: {{remedio.quantidade.quantidade}}</div>
                  <div>Dosagem (Mg): {{remedio.dosagem.dosagemMg}}</div>
                  <div>Término: {{remedio.dataTermino | date:'dd/MM/yyyy'}}</div>

                </div>
              </div>
              <div class="ui divider"></div>
            </div>


            <div class="ui divider"></div>



            <div *ngIf="abrirFormExcluir == true">
              <div class="ui divider"></div>

              <div class="ui form" [formGroup]="formRemedio">


                <div class="field">
                  <label>Nome</label>
                  <input type="text" placeholder="Nome do medicamento" formControlName="nome">
                </div>

                <div class="fields">
                  <div class="required eight wide field">
                    <label>Dosagem</label>
                    <select class="ui dropdown unidade" formControlName="dosagemId">
                      <option *ngFor="let dosagem of listaDosagem" [ngValue]="dosagem.id">
                        {{dosagem.dosagemMg}}
                      </option>

                    </select>

                  </div>

                  <div class="required eight wide field">
                    <label>Quantidade x/Dia</label>
                    <select class="ui dropdown unidade" formControlName="quantidadeId">
                      <option *ngFor="let quantidade of listaQuantidade" [ngValue]="quantidade.id">
                        {{quantidade.quantidade}}
                      </option>

                    </select>

                  </div>

                </div>

                <div class="field">
                  <div class="required eight wide field">
                    <label>Data Término</label>
                    <input type="date" formControlName="dataTermino">
                  </div>
                </div>

              </div>


              <app-segment-action-menu>

                <div>
                  <button class="ui green circular icon button" (click)="salvarRemedio()" (ngSubmit)="submit()"
                    type="submit" data-tooltip="Salvar" data-position="bottom left" data-inverted="">
                    <i class="check icon"></i>
                  </button>
                </div>

              </app-segment-action-menu>

            </div>

          </div>
        </div>



      </app-segment>
    </div>
  </div>

</app-content>

<div class="ui basic modal vermais">
  <div class="ui icon header">
    <i class="trash icon"></i>
    Atenção
  </div>
  <div class="content">
    <p>Deseja realmente excluir este Idoso? Esta ação não poderá ser desfeita.</p>
  </div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i>
      Não
    </div>
    <div class="ui green ok inverted button" (click)="excluir()">
      <i class="checkmark icon"></i>
      Sim
    </div>
  </div>
</div>