.container {
  width: 100%
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  display: block;
}

header {
  width: 100%;
  display: block;
}

header img {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

header h1 {
  margin: 0;
  text-align: center
}

nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}

.menu {
  list-style: none;
  border: 1px solid #c0c0c0;
  float: left;
  padding-left: 0;
  z-index: 10;
}

.menu ul {
  margin-top: 4px;
  padding-left: 0;
}

.menu li {
  position: relative;
  float: left;
  border-right: 1px solid #c0c0c0;
}

.menu li a {
  color: #333;
  text-decoration: none;
  padding: 6px 10px;
  display: block;
}

.menu li a:hover {
  background: #333;
  color: #fff;
  -moz-box-shadow: 0 3px 10px 0 #CCC;
  -webkit-box-shadow: 0 3px 10px 0 #ccc;
  text-shadow: 0px 0px 5px #fff;
}

.menu li ul {
  position: absolute;
  top: 25px;
  left: 0;
  background-color: #fff;
  display: none;
}

.menu li:hover ul,
.menu li.over ul {
  display: block;
}

.menu li ul li {
  border: 1px solid #c0c0c0;
  display: block;
  width: 150px;
}

.menu li>input {
  height: 30px;
  border-radius: 0;
}

h3 {
  text-align: center;
}

.paciente div {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 15px;
}

.paciente div div:first-child,
.paciente div div:nth-child(2) {
  margin-right: 10px;
}

.paciente textarea {
  height: 100px;
}

.paciente label>input,
.paciente select {
  border-radius: 8px;
  height: 30px;
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-right: 10px;
}

.paciente label>input:focus,
.paciente select:focus {
  border-color: transparent;
}

.paciente .content:first-child div+div {
  margin-right: 0
}

.paciente .content {
  width: 100%;
  display: inline-flex
}

.paciente .content div {
  width: 50%;
}

.paciente .observacao {
  display: block;
  margin-bottom: 5px;
}

.paciente label+textarea {
  width: 50%;
  border-radius: 8px;
  background: #f5f5f5;
  padding: 10px;
  font-size: 14px;
}

#imagemescolhida
{
    max-width:200px; 
    max-height:300px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
