body {
  background-color: #DADADA;
}

body>.grid {
  height: 100%;
}

.centro {
  width: 100%;
  text-align: center;
  /* pura mágica */
  position: absolute;
  top: 20%;
  /* posiciona na metade da tela */
  margin-top: auto;
  /* e retrocede metade da altura */

}

.image {
  margin-top: -100px;
}

.column {
  max-width: 450px;
}
