<app-content>
  <div class="centro">
    <div class="ui grid container login">
      <div class="row">
        <div class="sixteen wide centered column">
          <img src="assets/Imagens/casarepouso.png" class="image">
          <h2 class="ui teal image header"></h2>

        </div>
      </div>
      <div class="row">
        <div class="sixteen wide centered column">
          <h2 class="ui teal image header">
            <div class="content">
              Login
            </div>
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="sixteen wide centered column container-login">
          <div class="ui raised segment">

            <form class="ui large form">
              <div class="ui stacked segment">
                <div class="field">
                  <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="email" placeholder="E-mail">
                  </div>
                </div>
                <div class="field">
                  <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="Password">
                  </div>
                </div>

                <div class="ui fluid large teal submit button">Entrar</div>
              </div>

              <div class="ui error message"></div>

            </form>


            <div class="ui message">
              Você é novo aqui? <a href="registro"> Registrar</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</app-content>